@{
    ViewBag.Title = string.Format("Дякуємо за замовлення | {0}", NewVersionLampstore.Constants.TITLE);
   
}

<p>
    @Html.ActionLink("На головну", "Index", "Home")
    @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
    Дякуємо за замовлення
</p>

<h2>Дякуємо за замовлення</h2>