@model IEnumerable<NewVersionLampstore.Models.Collection>

@{
   
    ViewBag.Title = NewVersionLampstore.Constants.TITLE;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    } 

    <h2>Категорії</h2>
    
    &nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Створити колекцію", "Create", "Collection")
        </p>




@foreach (var item in Model)
{
    <table>
        <tr>@Html.ActionLink(item.Name, "GetByShortName", "Collection", new { shortname = item.ShortName }, null)
        
            <td style="padding-left:30px">@Html.ActionLink("Вверх", "Up", "Category", new { id = item.ID }, null)</td>
            <td style="padding-left:30px">@Html.ActionLink("Вниз", "Down", "Category", new { id = item.ID }, null)</td>
        </tr>
        
    </table>
}