@model IEnumerable<NewVersionLampstore.Models.Manufacturer>

@{
    ViewBag.Title = string.Format("Виробники | {0}", NewVersionLampstore.Constants.TITLE);
    
}
<p id="breadcrumbs">
    @Html.ActionLink("На головну", "Index", "Home")
    @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
    Виробники
</p>

<h2>Виробники</h2>
@if (Request.IsAuthenticated && (User.IsInRole(NewVersionLampstore.Constants.ROLE_ADMIN) || User.IsInRole(NewVersionLampstore.Constants.ROLE_CONTENT_MANAGER)))
{
<p>@Html.ActionLink("Створити", "Create")</p>
    }
<ul>
<table>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.ActionLink(item.Name, "GetByShortName", new { shortName = item.ShortName })</td>
     
    </tr>
}
</table>
</ul>